<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>
<body>

<main class="row" style="margin-top: 20px">
    <div th:each="p : ${items}" class="col-sm-4" style="margin-bottom: 20px">
        <div class="card" style="padding: 20px">
            <a th:href="@{|/product/detail/${p.id}|}">
                <img style="height: 180px;max-width: 95%" th:src="@{|/assets/images/${p.image}|}" class="card-img-top" alt="..." >
            </a>

            <div class="card-body">
                <h5 style="font-size: 13px" class="card-title" th:text="${p.name}"></h5>
                <button th:attr="ng-click=@{|cart.add(${p.id})|}" class="btn btn-success">
                    <i class="bi bi-bag-heart"></i>
<!--                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">-->
<!--                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>-->
<!--                    </svg>-->
                </button>
                <b class="float-end" th:text="${p.price}"></b>
            </div>
        </div>
    </div>
</main>
</body>
</body>
</html>