<div xmlns:th="http://www.thymeleaf.org" style="margin-top: 18px">
    <div class="card mt-2">
        <div class="card-header bg-primary">
           <h5> Danh mục</h5>
        </div>
        <ul class="list-group" style="list-style: none">
            <li>
                <a class="list-group-item list-group-item-action" th:href="@{|/product/list|}">
                    Tất cả
                </a>
            </li>
            <li th:each="c:${category}">
                <a class="list-group-item list-group-item-action" th:href="@{|/product/list?cid=${c.id}|}">
                    [[${c.name}]]
                </a>
            </li>

        </ul>
    </div>
</div>